.product {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}

.product__image {
  margin: 0 auto;
  width: 70%;
  z-index: 2;
  transform: translateX(-10%);
}

.product__title {
  position: absolute;
  font-size: 10vh;
  -webkit-text-stroke-width: 1px;
  color: transparent; 
  z-index: 3; 
  text-align: center;
}

.product__title--stroke {
    z-index: 1;
}

.product__title--black {
    -webkit-text-stroke-color: black;
}

.product__title--stroke.product__title--black {
    color: black;
}

.product__title--white {
    -webkit-text-stroke-color: white;
}

.product__title--stroke.product__title--white {
    color: white;
}

.product__about {
  position: relative;
  height: 25%;
  width: 100%;
}

.product__shadow {
    width: 50%;
    margin: auto;
}

.product__price {
    font-size: 4vh;
    margin: 0;
}

.product__price::before {
    content: '\0024';
}

.product__rating {
    padding: 1% 0;
}

.product__description {
    max-width: 80%;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.7rem;
}

.product__description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__button {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}