.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
}

.header__logo {
    width: 7rem;
}

.header__social-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}