@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
    color: white;
    font-family: 'Space Grotesk';
    --dark-blue: #432093;
    --light-blue: #90DAFD;
    user-select: none;
}

body {
    margin: 0;
}

#app {
    position: relative;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(72.44deg, #432093 0%, #90DAFD 100%);
}