.slider {
    width: 100%;
    height: 80vh;
}

.slider__button {
    cursor: pointer;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    margin-top: 50vh;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__button--left {
    left: 0;
    transform: translate(-20%, -50%);
}

.slider__button--right {
    right: 0;
    transform: translate(20%, -50%);
}

.slider__button::before {
    content: '';
    background-repeat: no-repeat;
    position: relative;
    width: 5rem;
    height: 3.5rem;
}

.slider__button--left::before {
    background-image: url(/icons/arrow-left.svg);
}

.slider__button--right::before {
    background-image: url(/icons/arrow-right.svg);
}

.slider__product {
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative;
}